.newPage {
	.navItem.save {
		.fadeInRight();
		.transition(opacity);
		background-color : @orange;
		&:hover { background-color : @green; }
		&.neverSaved {
			.fadeOutRight();
			opacity: 0;
		}
	}
}
