@import '@sharedStyles/colors.less';

.newPage {
	.navItem.save {
		background-color : @orange;
		transition       : all 0.2s;
		&:hover { background-color : @green; }
		
		&.neverSaved {
			cursor           : auto;
			background-color : #333333;
			opacity          : 0;
			translate        : -100%;
		}
	}
}

