/* Icon Font: diceFont */
@font-face {
	font-family : 'DiceFont';
	font-style : normal;
	font-weight : normal;
	src : url('../../../fonts/iconFonts/diceFont.woff2');
} 

.df {
	display                 : inline;
	font-family             : 'DiceFont';
	font-style              : normal;
	font-weight             : normal;
	font-variant            : normal;
	line-height             : 1;
	text-transform          : none;
	text-decoration         : inherit;
	text-rendering          : optimizeLegibility;
	
	/* Better Font Rendering =========== */
	-webkit-font-smoothing  : antialiased;
	-moz-osx-font-smoothing : grayscale;

	&.F::before { content : '\f190'; }
	&.F-minus::before { content : '\f191'; }
	&.F-plus::before { content : '\f192'; }
	&.F-zero::before { content : '\f193'; }
	&.d10::before { content : '\f194'; }
	&.d10-0::before { content : '\f100'; }
	&.d10-1::before { content : '\f101'; }
	&.d10-10::before { content : '\f102'; }
	&.d10-2::before { content : '\f103'; }
	&.d10-3::before { content : '\f104'; }
	&.d10-4::before { content : '\f105'; }
	&.d10-5::before { content : '\f106'; }
	&.d10-6::before { content : '\f107'; }
	&.d10-7::before { content : '\f108'; }
	&.d10-8::before { content : '\f109'; }
	&.d10-9::before { content : '\f10a'; }
	&.d12::before { content : '\f195'; }
	&.d12-1::before { content : '\f10b'; }
	&.d12-10::before { content : '\f10c'; }
	&.d12-11::before { content : '\f10d'; }
	&.d12-12::before { content : '\f10e'; }
	&.d12-2::before { content : '\f10f'; }
	&.d12-3::before { content : '\f110'; }
	&.d12-4::before { content : '\f111'; }
	&.d12-5::before { content : '\f112'; }
	&.d12-6::before { content : '\f113'; }
	&.d12-7::before { content : '\f114'; }
	&.d12-8::before { content : '\f115'; }
	&.d12-9::before { content : '\f116'; }
	&.d2::before { content : '\f196'; }
	&.d2-1::before { content : '\f117'; }
	&.d2-2::before { content : '\f118'; }
	&.d20::before { content : '\f197'; }
	&.d20-1::before { content : '\f119'; }
	&.d20-10::before { content : '\f11a'; }
	&.d20-11::before { content : '\f11b'; }
	&.d20-12::before { content : '\f11c'; }
	&.d20-13::before { content : '\f11d'; }
	&.d20-14::before { content : '\f11e'; }
	&.d20-15::before { content : '\f11f'; }
	&.d20-16::before { content : '\f120'; }
	&.d20-17::before { content : '\f121'; }
	&.d20-18::before { content : '\f122'; }
	&.d20-19::before { content : '\f123'; }
	&.d20-2::before { content : '\f124'; }
	&.d20-20::before { content : '\f125'; }
	&.d20-3::before { content : '\f126'; }
	&.d20-4::before { content : '\f127'; }
	&.d20-5::before { content : '\f128'; }
	&.d20-6::before { content : '\f129'; }
	&.d20-7::before { content : '\f12a'; }
	&.d20-8::before { content : '\f12b'; }
	&.d20-9::before { content : '\f12c'; }
	&.d4::before { content : '\f198'; }
	&.d4-1::before { content : '\f12d'; }
	&.d4-2::before { content : '\f12e'; }
	&.d4-3::before { content : '\f12f'; }
	&.d4-4::before { content : '\f130'; }
	&.d6::before { content : '\f199'; }
	&.d6-1::before { content : '\f131'; }
	&.d6-2::before { content : '\f132'; }
	&.d6-3::before { content : '\f133'; }
	&.d6-4::before { content : '\f134'; }
	&.d6-5::before { content : '\f135'; }
	&.d6-6::before { content : '\f136'; }
	&.d8::before { content : '\f19a'; }
	&.d8-1::before { content : '\f137'; }
	&.d8-2::before { content : '\f138'; }
	&.d8-3::before { content : '\f139'; }
	&.d8-4::before { content : '\f13a'; }
	&.d8-5::before { content : '\f13b'; }
	&.d8-6::before { content : '\f13c'; }
	&.d8-7::before { content : '\f13d'; }
	&.d8-8::before { content : '\f13e'; }
	&.dot-d6::before { content : '\f19b'; }
	&.dot-d6-1::before { content : '\f13f'; }
	&.dot-d6-2::before { content : '\f140'; }
	&.dot-d6-3::before { content : '\f141'; }
	&.dot-d6-4::before { content : '\f142'; }
	&.dot-d6-5::before { content : '\f143'; }
	&.dot-d6-6::before { content : '\f18f'; }
	&.small-dot-d6-1::before { content : '\f183'; }
	&.small-dot-d6-2::before { content : '\f184'; }
	&.small-dot-d6-3::before { content : '\f185'; }
	&.small-dot-d6-4::before { content : '\f186'; }
	&.small-dot-d6-5::before { content : '\f187'; }
	&.small-dot-d6-6::before { content : '\f188'; }
	&.solid-small-dot-d6-1::before { content : '\f189'; }
	&.solid-small-dot-d6-2::before { content : '\f18a'; }
	&.solid-small-dot-d6-3::before { content : '\f18b'; }
	&.solid-small-dot-d6-4::before { content : '\f18c'; }
	&.solid-small-dot-d6-5::before { content : '\f18d'; }
	&.solid-small-dot-d6-6::before { content : '\f18e'; }
}