.archivePage {
    height:100%;
    background-color: #2C3E50;
    .content {
        display:grid;
        grid-template-rows: 20vh 1fr;
        
        .welcome {
            display:grid;
            place-items: center;
            background: url('https://i.imgur.com/MJ4YHu7.jpg');
            background-size:100%;
            background-position:center;
            height:20vh;
            border-bottom:5px solid #333;
    
            h1 {
                font-size:40px;
                font-weight:900;
                color:white;
                filter: drop-shadow(0 0 5px black);
            }
        }
    
        .flexGroup {
            height:100%;
            display:grid;
            grid-template-columns:1fr 2fr;
        
            .dataGroup {
                width:100%;
                height:100%;
                background:white;
                
                &.form .brewLookup {
                    padding:50px;
                    
                    h2 {
                        font-size:30px;
                        font-weight: 900;
                        border-bottom:2px solid;
                        margin-block: 20px;
                    }
                    
                    label {
                        margin-right:10px;
                    }
                    input+button {
                        margin-left:20px;
                    }
                }
                
                &.resultsContainer {
                    display:flex;
                    flex-direction: column;
                    border-left:2px solid;
                    height:76.8vh;
                    
                    .title {
                        height:100px;
                        background-color: #333;
                        display:grid;
                        place-items: center;
                        
                        h2 {
                            font-size:30px;
                            color:white;
                            font-weight:900;
                        }
                    }
                    
                    .foundBrews {
                        background-color: #2C3E50;
                        display:flex;
                        flex-direction:column;
                        width:100%;
                        min-height:500px;
                        height:max-content;
                        padding:50px;
                        padding-bottom:unset;
                        
                        .brewItem {
                            height:50px;
                            min-height:unset;
                            width:100%;
                            display:flex;
                            color:white;
                            background:#707070;
                            .text {
                                min-height:unset;
                                width:20vw;
                                text-overflow: ellipsis;
                                overflow:hidden;
                                white-space: nowrap;
                                display:grid;
                                align-content:center;
                                h2 {
                                    font-size: 20px;
                                    font-weight:900;
                                    
                                }
                            }
                            hr {
                                display:none;
                            }
                            .info {
                                width:100%;
                                display:grid;
                                grid-template-columns: 3fr 1fr 70px 70px  150px 50px;
                                align-items:center;
                                
                                br {
                                    display:none;
                                }
                                &:not(:has(.brewTags)) {
                                    grid-template-columns:3fr 70px 70px 150px 50px;
                                }
                                
                            }
                        }
                    }
                }
            }
        }
    }
}






    

