body {
    height: 100vh;

    .content {
        height: 100%;
    }
}

.archivePage {
    overflow-y: hidden;
    height: 100%;
    background-color: #2C3E50;

    h1,h2,h3 {
        font-family: 'Open Sans';
        color: white;
        font-weight: 900;
    }

    .content {
        display: grid;
        grid-template-rows: 20vh 1fr;

        .welcome {
            display: grid;
            place-items: center;
            background: url('https://i.imgur.com/MJ4YHu7.jpg');
            background-size: 100%;
            background-position: center;
            height: 20vh;
            border-bottom: 5px solid #333;

            h1 {
                font-size: 40px;
                filter:drop-shadow(0 0 5px black);
            }
        }

        .flexGroup {
            height: 100%;
            display: grid;
            grid-template-columns: 500px 2fr;
            background: #2C3E50;

            .dataGroup {
                width: 100%;
                height: 100%;
                background: white;

                &.form .brewLookup {
                    position: relative;
                    padding: 50px;

                    .formTitle {
                        color:black;
                        font-size: 30px;
                        border-bottom: 2px solid;
                        margin: 20px 0;
                        text-align: center;
                    }

                    .formContents {
                        display: flex;
                        flex-direction: column;
                    }
                    label {
                        margin: 10px 0;
                    }
                    input {
                        margin: 0 10px;
                    }
                    .search {
                        position:absolute;
                        right:10px;
                        bottom:20px;

                        i {
                            margin-left: 10px;
                        }
                    }
                }

                &.resultsContainer {
                    display: flex;
                    flex-direction: column;
                    border-left: 2px solid;
                    height: 100%;
                    font-family: "BookInsanityRemake";
                    font-size: .34cm;

                    .title {
                        height: 10vh;
                        background-color: #333;
                        display: grid;
                        place-items: center;

                        h2 {
                            font-size: 30px;
                        }
                    }
                    .foundBrews {
                        position: relative;
                        background-color: #2C3E50;
                        width: 100%;
                        max-height: 100%;
                        height: 66.7vh;
                        padding: 50px;
                        overflow-y:scroll;

                        h3 {
                            font-size: 25px;
                        }

                        &.noBrews {
                            display: grid;
                            place-items: center;
                            color: white;
                        }

                        &.searching {
                            display: grid;
                            place-items: center;
                            color: white;

                            h3.searchAnim {
                                animation: trailingDots 2s ease infinite;
                            }
                        }

                        .totalBrews {
                            position: fixed;
                            bottom: 0;
                            right: 17px;
                            font-size: 11px;
                            font-weight: 800;
                            color: white;
                            background-color: #333;
                            padding: 8px 10px;
                            z-index: 1000;
                            font-family: 'Open Sans';
                        }
                        .brewItem {
                            background-image: url('/assets/parchmentBackground.jpg');
                            width: 48%;
                            margin-right: 40px;
                            color: black;

                            &:nth-child(even of .brewItem) {
                                margin-right: 0;
                            }
                            h2 {
                                font-size: 0.75cm;
                                line-height: 0.988em;
                                font-family: "MrEavesRemake";
                                font-weight: 800;
                                color: var(--HB_Color_HeaderText);
                            }

                            .info {
                                font-family: ScalySansRemake;
                                font-size: 1.2em;

                                >span {
                                    margin-right: 12px;
                                    line-height: 1.5em;
                                }
                            }
                        }

                        .paginationControls {
                            position: absolute;
                            left: 50%;
                            translate: -50%;
                            width: auto;
                            display: grid;
                            place-items: center;
                            grid-template-areas: "previousPage currentPage nextPage";
                            grid-template-columns: 50px 1fr 50px;
                            
                            .pages {
                                grid-area: currentPage;
                                height: 100%;
                                width: 100%;
                                display: flex;
                                justify-content:space-evenly;
                                text-align: center;
                                padding: 5px 8px;

                                .pageNumber {
                                    color: white;
                                    font-family: Open Sans;
                                    font-weight: 900;
                                    text-underline-position: under;
                                    margin-inline:10px;
                                    cursor: pointer;

                                    &.currentPage {
                                        color:gold;
                                        text-decoration:underline;
                                        pointer-events:none;
                                    }
                                }
                            }
                            button {
                                width:max-content;
                                border-radius:5px;

                                &.previousPage {
                                    grid-area: previousPage;
                                }

                                &.nextPage {
                                    grid-area: nextPage;
                                }
                            }
                            
                        }

                        hr {
                            visibility: hidden;
                        }
                    }
                }
            }
        }
    }
}


@keyframes trailingDots {
    0%,32% {
        clip-path:inset(0 66% 0 0);
    }
    
    33%, 65% {
        clip-path:inset(0 33% 0 0);
    }
    66%,100% {
        clip-path:inset(0 0% 0 0);
    }
}