[Unit]
Description=Homebrewery Web Server

[Service]
User=root
BindsTo=mongod.service
After=mongod.service
Environment=NODE_ENV=local
WorkingDirectory=/usr/local/homebrewery
ExecStart=node server.js
Restart=always

[Install]
WantedBy=multi-user.target