node_modules
storage
.idea
*.swp

*.log
build/*
config/local.*
config/docker.*

todo.md
startDB.bat
startMViewer.bat
.vscode

coverage
themes/V3/5eDMG/
themes/V3/5ePHB/
themes/V3/Journal/
themes/themeSnippets.js