node_modules
storage
.idea
*.swp

*.log
build/*
config/local.*
config/docker.*

todo.md
startDB.bat
startMViewer.bat
.vscode

coverage
themes/V4/5eDMG/
themes/V4/5ePHB/
themes/V4/Journal/
themes/themeSnippets.js
