services:
  mongodb:
    image: mongo:latest
    volumes:
      - mongodata:/data/db
  homebrewery:
    build:
      context: .
      dockerfile: Dockerfile
    image: homebrewery
    environment:
      MONGODB_URI: mongodb://mongodb/homebrewery
    ports:
      - "8000:8000"
volumes:
  mongodata:
