.statusbar{
	font-size        : 1.8em;
			color            : white;
	svg{
		vertical-align : middle;
		height         : 1em;
		margin-right   : 0.2em;
		cursor         : pointer;
		fill           : white;
	}

}