
.statusbar{
	height           : 25px;
	background-color : black;
	font-size        : 24px;
	position: fixed;
	width :100%;
	z-index : 1000;
	color            : white;
	line-height      : 1.0em;
	border-bottom    : 1px solid @grey;
	.logo{
		display        : inline-block;
		vertical-align : middle;
		margin-right   : 20px;
		margin-top: -5px;
		svg{
			margin-top: -6px;
		}
	}
	.left{
		display : inline-block;
		vertical-align: top;
	}
	.right{
		float : right;
	}
	.toolName{
		vertical-align : middle;
		font-family    : CodeBold;
		text-decoration: none;
		color: white;
		display: block;
		font-size      : 16px;
		line-height    : 30px;
		small{
			font-family : CodeBold;
		}
	}
	.controls{
		font-size : 12px;
		>*{
			display     : inline-block;
			height      : 100%;
			padding     : 0px 10px;
			border-left : 1px solid @grey;
		}
		.savingStatus{
			width      : 56px;
			color      : @grey;
			text-align : center;
		}
		.newButton{
			.animate(background-color);
			color           : white;
			text-decoration : none;
			&:hover{
				background-color : fade(@green, 70%);
			}
		}
		.shareField{
			color           : white;
			text-decoration : none;
			cursor : pointer;
			.animate(background-color);
			&:hover{
				background-color : fade(@teal, 70%);
			}
			span{
				margin-right : 10px;
			}
			input{
				width : 100px;
				font-size: 12px;
			}
		}
	}
}