.homebrewAdmin{

	table{
		max-height: 800px;
		overflow-y: scroll;
		th{
			font-weight: 800;
			padding: 10px;
		}

		tr:nth-child(even){
			background-color: fade(@green, 10%);
		}
		tr.isEmpty{
			background-color: fade(@red, 30%);
		}
		td{
			min-width: 100px;
			text-align: center;
			padding: 10px;

			&.preview{
				position: relative;

				&:hover{
					.content{
						display: block;
					}
				}


				.content{
					font-family: monospace;
					text-align: left;
					padding : 30px;
					display: none;
					position: absolute;
					top : 100%;
					left: 0px;
					width : 300px;
					max-height : 500px;
					background-color: white;
					z-index : 1000;
					pointer-events: none;
				}



			}
		}
	}

}