@import 'naturalCrit/styles/reset.less';
//@import 'naturalCrit/styles/elements.less';
@import 'naturalCrit/styles/animations.less';
@import 'naturalCrit/styles/colors.less';
@import 'naturalCrit/styles/tooltip.less';

html,body, #reactContainer{
	min-height: 100%;
}

.homebrew{
	background-color: @steel;
	height : 100%;
}