@import 'naturalCrit/styles/reset.less';
//@import 'naturalCrit/styles/elements.less';
@import 'naturalCrit/styles/animations.less';
@import 'naturalCrit/styles/colors.less';
@import 'naturalCrit/styles/tooltip.less';

html,body, #reactContainer{
	min-height: 100%;
	font-family      : 'Open Sans', sans-serif;
}

.homebrew{
	background-color: @steel;
	height : 100%;

	.paneSplit{
		width : 100%;
		height: 100vh;
		padding-top: 25px;
		position: relative;
		box-sizing: border-box;

		.leftPane, .rightPane{
			display: inline-block;
			vertical-align: top;
			position: relative;
			height: 100%;
			min-height: 100%;
		}

		.leftPane{
			width : 40%;
		}
		.rightPane{
			width : 60%;
			height: 100%;

			overflow-y: scroll;
		}

	}
}