/* Main Font */
@font-face {
	font-family: BookInsanity;
	src: url('/assets/homebrewery/phb_style/fonts/Bookinsanity.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: BookInsanity;
	src: url('/assets/homebrewery/phb_style/fonts/Bookinsanity Bold.otf');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: BookInsanity;
	src: url('/assets/homebrewery/phb_style/fonts/Bookinsanity Italic.otf');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: BookInsanity;
	src: url('/assets/homebrewery/phb_style/fonts/Bookinsanity Bold Italic.otf');
	font-weight: bold;
	font-style: italic;
}

/* Notes and Tables */
@font-face {
	font-family: ScalySans;
	src: url('/assets/homebrewery/phb_style/fonts/Scaly Sans.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: ScalySansSmallCaps;
	src: url('/assets/homebrewery/phb_style/fonts/Scaly Sans Caps.otf');
	font-weight: normal;
	font-style: normal;
}

/* Fancy First Letter */
@font-face {
	font-family: Solbera;
	src: url('/assets/homebrewery/phb_style/fonts/Solbera Imitation.otf');
	font-weight: normal;
	font-style: normal;
}

/* Headers */
@font-face {
	font-family: MrEaves;
	src: url('/assets/homebrewery/phb_style/fonts/Mr Eaves Small Caps.otf');
	font-weight: normal;
	font-style: normal;
}
