.lockTools {
    .lockBrew label {
        width: 50%;
        display: inline-block;
        text-align: right;
        line-height: 1.5em;
        input {
            float: right;
            width: 70%;
            margin-left: 10px;
        }
    }
}