@import (less) './client/icons/customIcons.less';
@import (less) '././././themes/fonts/5e/fonts.less';

.snippetBar {
	@menuHeight      : 25px;
	position         : relative;
	display          : flex;
	flex-wrap        : wrap-reverse;
	justify-content  : space-between;
	height           : auto;
	color            : black;
	background-color : #DDDDDD;
	text-transform: uppercase;
	font-size      : 0.625em;
	font-weight    : 800;
	box-shadow: 0 0px 4px -1px black;
	border-bottom: 1px solid #666;
	z-index: 500;
	i {
		font-size: 1.4em;
	}

	// styling for dropdown menus.  Is a *mixin*, defined but not printed here,
	// only printed within their snippetbar groups.
	.dropdown() {
		@supports (inset-block-start: anchor(bottom)){
			inset-block-start: anchor(bottom);
			inset-inline-start: anchor(left);
			position-try: flip-inline;
		}
		z-index          : 1000;
		padding          : 2px;
		background-color : #DDDDDD;
		box-shadow: 0 3px 5px -4px black;
		border: 1px solid #666;
		&:popover-open {
			display: grid; 
			grid-template-columns: 25px 1fr max-content auto;
		}

		.menu-group {
			grid-column: ~'1 / -1';
			padding: 3px;
			border-bottom: 1px solid #BBBB;
		}

		.dropdown {
			margin: 5px;
			@supports (inset-block-start: anchor(bottom)){
				inset-block-start: anchor(top);
				inset-inline-start: anchor(right);
				position-try: flip-inline;
			}

		}
	}

	.snippet() {
		display: grid; 
		grid-column: ~"1 / -1";
		grid-template-columns: inherit; 
		align-items : center;
		gap : 8px;
		min-width   : max-content;
		padding     : 7px 5px;
		cursor      : pointer;
		.animate(background-color);
		&:has(+ .dropdown:popover-open){
			background: #999999;
		}
	}


	.highlight(@color: #999999) {
		&:hover, &[aria-selected='true'], &:has(+ .dropdown:popover-open){ background-color : @color; color: whitesmoke}
	}

	// group that holds all non-snippet buttons.
	.tools {
		display         : flex;
		justify-content : flex-end;
		min-width       : 225px;
		container       : tools ;

		&:only-child { margin-left : auto; }  // When on Properties tab, keep tools pushed to right side.

		// subgroups for tools (history, code folding/theme, editor tabs)
		> .group {
			display         : flex;
			flex            : 1;
			justify-content : space-around;

			.dropdown {
				.dropdown();


				.snippet {
					.snippet();
					i {
						justify-self: center;
						grid-column: ~"1 / 2";
					}
				}
			}
			
			// any non-snippet button
			& > button {
				position     : relative;
				height       : @menuHeight;
				flex         : 1 0 auto;
				cursor       : pointer;
				.highlight();
				&:disabled {
					color: #999999;
				}

				// history tools
				&#show-history { .tooltipLeft('History');
					position  : relative;
					&.active { background-color : #999999; }
					& > .dropdown {
						right : -1px;
						& > .snippet { padding-right : 10px; }
					}
				}
				&#undo { .tooltipLeft('Undo'); }
				&#redo { .tooltipLeft('Redo'); }

				// code tools
				&#fold-all { .tooltipLeft('Fold All'); }
				&#unfold-all { .tooltipLeft('Unfold All'); }
				&#show-themes {
					.tooltipLeft('Editor Themes');
					color     : black;
					&.active {
						position         : relative;
						background-color : #999999;
					}
					.themeSelector {
						position         : absolute;
						top              : 25px;
						right            : 0;
						z-index          : 10;
						display          : flex;
						align-items      : center;
						justify-content  : center;
						width            : 170px;
						height           : inherit;
						background-color : inherit;
					}
				}

				// editor tabs
				&#brew-tab { 
					.highlight(@orangeLight);
					.tooltipLeft('Brew Editor');
				}
				&#style-tab { 
					.highlight(@blueLight);
					.tooltipLeft('Style Editor');
				}
				&#properties-tab { 
					.highlight(@tealLight);
					.tooltipLeft('Properties');
				}				
			}			
		}		
	}

	// group that holds all snippet menus.
	.snippets {
		height          : @menuHeight;
		display         : flex;
		justify-content : flex-start;
		min-width       : min-content;
		text-wrap       : nowrap;

		.dropdown {
			.dropdown();
		}

		.snippet-menu {
			display        : inline-block;
			height         : 100%;
			padding        : 0px 5px;
			cursor         : pointer;
			.highlight();

			button {
				height: 100%;
				display: flex;
				align-items: center;
				gap: 3px;
			}

			.snippet {
				.snippet();
				

				&.menu-trigger {
					grid-column: ~"1 / -1";
					i.fa-caret-right {
						grid-column: ~"4 / 5";
						min-width: unset;

					}
				}
				
				i {
					justify-self: center;
					grid-column: ~"1 / 2";

					/* Fonts */
					&.font {
						height : auto;
						&::before {
							font-size : 1em;
							content   : 'ABC';
						}

						// todo: figure out how to adapt this list based on each themes' snippets.js,
						// so different themes can have different fonts in the Fonts menu.
						&.OpenSans {font-family : 'OpenSans';}
						&.CodeBold {font-family : 'CodeBold';}
						&.CodeLight {font-family : 'CodeLight';}
						&.ScalySansRemake {font-family : 'ScalySansRemake';}
						&.BookInsanityRemake {font-family : 'BookInsanityRemake';}
						&.MrEavesRemake {font-family : 'MrEavesRemake';}
						&.SolberaImitationRemake {font-family : 'SolberaImitationRemake';}
						&.ScalySansSmallCapsRemake {font-family : 'ScalySansSmallCapsRemake';}
						&.WalterTurncoat {font-family : 'WalterTurncoat';}
						&.Lato {font-family : 'Lato';}
						&.Courier {font-family : 'Courier';}
						&.NodestoCapsCondensed {font-family : 'NodestoCapsCondensed';}
						&.Overpass {font-family : 'Overpass';}
						&.Davek {font-family : 'Davek';}
						&.Iokharic {font-family : 'Iokharic';}
						&.Rellanic {font-family : 'Rellanic';}
						&.TimesNewRoman {font-family : 'Times New Roman';}
					}
				}
				.name { grid-column: ~"2 / 3"; margin-right : auto; }
				.disabled { text-decoration : line-through; }
				.beta {
					grid-column: ~"3 / 4";
					padding       : 4px 6px;
					margin-left   : 5px;
					font-size     : 0.9em;
					line-height   : 1em;
					color         : white;
					background    : grey;
					border-radius : 12px;
				}
				&:hover {
					background-color : #999999;
				}
			}
		}
	}
	
}
@container editor (width < 570px) {
	.snippetBar {
		.tools { 
			flex            : 1;
			justify-content : space-between;
			border-bottom   : 1px solid;
		}
		.snippets { 
			flex            : 1;
			justify-content : space-evenly; 
		}
		.tools > div.history > .dropdown { right : unset; }
	}
}

