@import (less) './client/homebrew/phbStyle/phb.style.less';


.pane{
	position: relative;
}

.brewRenderer{
	overflow-y: scroll;

	//height : calc(~"100%");

	.pageInfo{
		background-color: #333;
		color : White;
		position: absolute;
		padding: 8px 10px;
		font-weight: 800;
		font-size: 10px;
		z-index : 1000;

		bottom: 0;
		right : 17px;
	}

	.pages{
		margin: 30px 0px;

		&>.phb{
			margin-right  : auto;
			margin-bottom : 30px;
			margin-left   : auto;
			box-shadow    : 1px 4px 14px #000;
		}
	}


}