@import 'naturalCrit/reset.less';
//@import 'naturalCrit/elements.less';
@import 'naturalCrit/animations.less';
@import 'naturalCrit/colors.less';

body{
	background-color : #eee;
	font-family      : 'Open Sans', sans-serif;
	color            : #4b5055;
	font-weight      : 100;
	text-rendering   : optimizeLegibility;
	margin           : 0;
	padding          : 0;
}

.naturalCrit{
	color : #333;
	background-color: #eee;

	.encounterContainer{
		display: inline-block;
		vertical-align: top;
	}
}