.brewItem {
	position                    : relative;
	display: flex;
	flex-direction: column;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: ghostwhite;
	background-color            : #55555586;
	border                      : 1px ridge #C9AD6A;
	box-shadow                  : 0px 4px 5px 0px #333333;
	break-inside                : avoid;
	-webkit-column-break-inside : avoid;
	page-break-inside           : avoid;

	&.list-layout {
		border: none;
		
		.header {
			border: none;
			padding-bottom: 5px;
		}
		.text {
			padding-top: 5px;
			padding-bottom: 5px;
			min-height: calc(2.8em + 10px);
		}
		.description {
			text-overflow: ellipsis;
			white-space: pre;
			height: 1.4em;
		}
		.links {
			display: flex;
		}
	}

	& > *:not(img) {
		padding: 0 10px;
	}
	&:hover .header {
		background: radial-gradient(circle, #c9ac6a0d 0%, #c9ac6a17 100%);
	}

	.thumbnail {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
		filter:  grayscale(1) opacity(.1) blur(0px);
		transition: all .5s ease-out;
		&:is(.brewItem:hover .thumbnail){
			filter: grayscale(0) opacity(.1) blur(0px);
			transition: all .5s ease-out;

		}

	}

	.header {
		position: relative;
		width: 100%;
		border-bottom: .5px inset currentColor;
		padding: 15px 10px;
		backdrop-filter: blur(4px) brightness(.8);
		z-index: 1;
		> button {
			position: relative;
			float: right;
			background-color: rgba(118, 118, 118, 16%);
			border-radius: 50%;
			aspect-ratio: 1;
			z-index: 10;
			border: 1px solid #cfcfcfd6;
			width: 36px;
			cursor: pointer;
			padding: 5px;
			&:hover {
				background-color: rgba(118, 118, 118, 0.693);
			}
		}
		.title {
			h2 {
				font-size: 16px;
				line-height: 1.3;
				margin-bottom: 5px;
				a:any-link {
					color: #ead195;
					text-decoration-thickness: 1px;
					text-underline-offset: 4px;
				}
				a:visited{
					color: #bca772;
				}
			}
		}
		.info {
			font-size: .7em;
			& > span {
				margin-right : 12px;
				line-height  : 1.5em;

				a:any-link { color : inherit; }
			}
		}
	}

	

	.text {
		height: 100%;
		z-index: 1;
		position: relative;
		min-height: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 8px;
		padding: 15px 10px;
	}

	.description {
		flex: 1 1 auto;
		overflow: hidden;
		mask-image: linear-gradient(to bottom, #000 75%, transparent 98%);
		line-height: 1.3;
		font-weight: 300;
		font-family: 'Open Sans';

	}


	
	.brew-tags{
		flex: 0 0 auto;
		span {
			display          : inline-block;
			padding          : 2px 4px;
			margin           : 2px;
			white-space      : nowrap;
			cursor           : pointer;
			background-color : #C8AC6E3B;
			border           : 1px ridge gray;
			border-radius    : 4px;
			font-size: .75em;
			&::before {
				margin-right : 3px;
				font-family  : 'Font Awesome 6 Free';
				font-size    : 12px;
				font-weight: 800;
			}
			&.type {
				color            : #008000;
				background-color : #0080003B;
				&::before { content : '\f0ad'; }
			}
			&.group {
				color            : #000000;
				background-color : #5050503B;
				&::before { content : '\f500'; }
			}
			&.meta {
				color            : #cecef7;
				background-color : #34346c;
				border           : 1px ridge #34346c;
				&::before { content : '\f05a'; font-family: 'Font Awesome 6 Free' }
			}
			&.system {
				color            : #fbcdcd;
				background-color : #652e2e;
				border           : 1px ridge #652e2e;
				&::before { content : '\f518'; }
			}
		}
	} 
	&:nth-child(2n + 1) { margin-right : 0px; }
	.links {
		.animate(opacity);
		position         : absolute;
		top              : 0px;
		right            : 0px;
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(1fr);
		align-items: center;
		font-size       : 1.3em;
		text-align       : center;
		background-color : fade(rgb(46, 46, 46), 90%);
		backdrop-filter: blur(3px);
		z-index: 5;
		a {
			.animate(opacity);
			display         : grid;
			place-content: center;
			height: 100%;
			width: 100%;
			padding: 7px;
			color           : white;
			text-decoration : unset;
			opacity         : 0.8;
			border: .5px solid #7a7a7a;
			box-sizing: border-box;
			&:hover { 
				opacity : 1;
				background-color: #575757;
			}
			cursor : pointer;
		}
	}

	.badges {
		position: absolute;
		top: -13px;
		left: 10px;
		width: auto;
		height: auto;
		z-index: 10;
		display: flex;
		gap: 5px;
		> i {
			display: grid;
			place-items: center;
			width: 26px;
			height: 26px;
			background: #555;
			padding: 5px;
			border-radius: 50%;
			border                      : 1px ridge #C9AD6A;

		}
	}

	.googleDriveIcon {
		padding : 0px;
		margin  : -5px;
		height  : 18px;
	}
	.homebreweryIcon {
		position : relative;
		padding  : 0px;
		top      : 5px;
		left     : -7.5px;
		height   : 18px;
	}
}

