.lockNotification {
	background-color: #ccc;
	color: black;
	padding: 10px;
	margin: 25px 100px;
	text-align: center;

	button {
		background-color: #333;
		color: white;
		margin-top: 10px;

		&:hover {
			background-color: #777;
		}
	}
}