.hb-anchor-source {
	anchor-name: var(--hb-anchor-name);
}

.hb-anchor-target {
	position-anchor: var(--hb-position-anchor);
}

.hb-position-area {
	position-area: var(--hb-position-area);
}

.hb-position-try-fallbacks {
	position-try-fallbacks: var(--hb-position-try-fallbacks);
}