.dropdown-container {
    position:relative;
    .dropdown-options {
        position:absolute;
        background-color: rgb(227, 227, 227);
        z-index: 100;
        width: 100%;
        border: 1px solid #444;
        .item {
            font-size: 12px;
            font-family: OpenSans;
            padding: 5px;
            &:hover {
                filter: brightness(120%);
            }
        }

    }

}
