.toolBar {
    font-family: 'Open Sans', sans-serif;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #555;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    color: white;
    text-align: center;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    row-gap: 5px;
    flex-wrap: wrap;

    input {
        background: #eee;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 16px;
        color: #000;
        padding: 2px 5px;
        border-radius: 7px;
        height:1.5em;
    }

    .tool {
        display: flex;
        align-items: center;
        padding: 0 8px;
        color: #ccc;
        height: 100%;

        &:hover,&:focus-within {
            background-color: #444;
        }

        button {
            background-color: transparent;
            font-family: 'Open Sans', sans-serif;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 11px;
            color: #ccc;
            padding: 0;
            width: 70px;

            &:focus-within {
                color: white;
                font-weight: 800;
                height: 100%;
            }

            &:disabled {
                color: #777;
                background-color: transparent !important;
            }
        }
    }


}