@font-face {
	font-family : CodeLight;
	src         : url('/assets/naturalCrit/logo/CODE Light.otf');
}
@font-face {
	font-family : CodeBold;
	src         : url('/assets/naturalCrit/logo/CODE Bold.otf');
}


.logo{
	color : white;
	text-decoration: none;
	display: block;

	svg{
		//vertical-align : middle;
		height         : 0.9em;
		margin-right   : 0.2em;
		cursor         : pointer;
		fill           : white;
	}

	span.name{
		//font-size: 1em;
		//line-height: 0.3em;
		font-family : 'CodeLight';
		span.crit{
			font-family : 'CodeBold';
		}
		small{
			font-size: 0.3em;
			font-family : 'Open Sans';
			font-weight: 800;
			text-transform: uppercase;
		}
	}
}