
.mainEncounter{
	box-sizing : border-box;
	overflow   : hidden;
	width      : auto;

	&>.info{

		margin-left: 10px;
		padding-bottom : 10px;
		border-bottom: 1px solid #ddd;
		h1{
			font-size: 2em;
			font-weight: 800;
			margin-bottom: 5px;
		}
		p{
			margin-left: 10px;
			font-size: 0.8em;
			line-height: 1.5em;
			max-width: 600px;
		}
		.reward{
			font-size: 0.8em;
			font-weight: 800;
			margin-top: 5px;
			i{
				margin-right: 5px;
			}
		}

	}



}