@import 'naturalcrit/styles/reset.less';
@import 'naturalcrit/styles/elements.less';
@import 'naturalcrit/styles/animations.less';
@import 'naturalcrit/styles/colors.less';
@import 'naturalcrit/styles/tooltip.less';

@import 'font-awesome/css/font-awesome.css';

html,body, #reactContainer, .naturalCrit { min-height : 100%; }

@sidebarWidth : 250px;

body {
	height           : 100%;
	padding          : 0;
	margin           : 0;
	font-family      : 'Open Sans', sans-serif;
	font-weight      : 100;
	color            : #4B5055;
	background-color : #EEEEEE;
	text-rendering   : optimizeLegibility;
}

:where(.admin) {

	header {
		padding          : 20px 0px;
		margin-bottom    : 30px;
		font-size        : 2em;
		color            : white;
		background-color : @red;
		i { margin-right : 30px; }
	}

	hr { margin : 30px 0px; }

	:where(.container) {
		input {
			height        : 33px;
			padding       : 0px 10px;
			margin-bottom : 20px;
			font-family   : monospace;
		}

		button {
			height         : 37px;
			vertical-align : middle;
		}

		dl {
			@maxItemWidth : 132px;
			dt {
				float      : left;
				width      : @maxItemWidth;
				clear      : left;
				text-align : right;
				&::after { content : ' : '; }
			}
			dd {
				height      : 1em;
				padding     : 0 0 0.5em 0;
				margin-left : @maxItemWidth + 6px;
			}
		}

		.tabs button {
			margin-right     : 3px;
			margin-left      : 3px;
			color            : black;
			background-color : #EEEEEE;
			border           : 1px solid #444444;
			border-radius    : 5px;
			&:hover {
				color            : #EEEEEE;
				background-color : #444444;
			}
			&.active {
				margin-right     : 2px;
				margin-left      : 2px;
				text-decoration  : underline;
				background-color : #CCCCCC;
				border           : 2px solid #444444;
			}
		}

		.notificationUtils {
			display         : flex;
			gap             : 50px;
			justify-content : space-between;
		}
	}
}
