@import 'naturalcrit/styles/reset.less';
@import 'naturalcrit/styles/elements.less';
@import 'naturalcrit/styles/animations.less';
@import 'naturalcrit/styles/colors.less';
@import 'naturalcrit/styles/tooltip.less';

@import 'font-awesome/css/font-awesome.css';

html,body, #reactContainer, .naturalCrit { min-height : 100%; }

@sidebarWidth : 250px;

body {
	height           : 100%;
	padding          : 0;
	margin           : 0;
	font-family      : 'Open Sans', sans-serif;
	font-weight      : 100;
	color            : #4B5055;
	background-color : #EEEEEE;
	text-rendering   : optimizeLegibility;
}

.admin {

	header {
		padding          : 20px 0px;
		margin-bottom    : 30px;
		font-size        : 2em;
		color            : white;
		background-color : @red;
		i { margin-right : 30px; }
	}

	hr { margin : 30px 0px; }

	.container {
		.tabs button {
			margin-right     : 3px;
			margin-left      : 3px;
			color            : black;
			background-color : #EEEEEE;
			border           : 1px solid #444444;
			border-radius    : 5px;
			&:hover {
				color            : #EEEEEE;
				background-color : #444444;
			}
			&.active {
				margin-right     : 2px;
				margin-left      : 2px;
				text-decoration  : underline;
				background-color : #CCCCCC;
				border           : 2px solid #444444;
			}
		}
		section.notificationUtils {
			display         : flex;
			gap             : 50px;
			justify-content : space-between;

			.notificationAdd {
				position       : relative;
				display        : flex;
				flex-direction : column;
				width          : 500px;
			
				.field {
					display               : grid;
					grid-template-columns : 120px 150px;
					align-items           : center;
					justify-items         : stretch;
					width                 : 100%;
					margin-bottom         : 20px;
			   
				
					input {
						height      : 33px;
						padding     : 0px 10px;
						font-family : monospace;
					}
				
					textarea {
						resize:vertical;
						width  : 50ch;
						min-height : 7em;
						max-height : 25em;
					}
				}
			
				button {
				
					position : absolute;
					right    : 0;
					bottom   : 0;
					
					i { margin-right : 10px; }
				}
			}
		
			.notificationLookup {
				width     : max-content;
				min-width : 450px;
		
				.notificationList {
					display        : flex;
					flex-direction : column;
					gap            : px;
					margin-block   : 20px;
					border         : 1px solid;
					border-radius  : 5px;
						
					details {
						padding    : 10px;
						background : #CCCCCC;
							
						&:nth-child(even) { background : #DDDDDD; }
						&:first-child {
							border-top-left-radius  : 5px;
							border-top-right-radius : 5px;
						}
						&:last-child {
							border-bottom-right-radius : 5px;
							border-bottom-left-radius  : 5px;
						}
							
						summary {
							font-size   : 20px;
							font-weight : 900;
						}
					}
				}
				
			}
		}
		
	}
}
