.box{
	position : relative;
	padding : 10px;
	margin: 10px;

	&.border{
		border: 1px solid black;
	}
	&.shadow{
		background-color: #ddd;
	}


	h5{
		text-transform: uppercase;
		font-size : 0.6em;
		text-align: center;
		width : 100%;
		font-weight: 800;

		&.title{
			margin-top: -5px;
			margin-bottom: 10px;
		}
		&.label{
			margin-bottom: -5px;
			margin-top: 10px;
		}
	}
}