
.spell{
	ul:first-of-type{
		margin-top      : -0.5em;
		margin-bottom   : 0.5em;
		padding-left    : 1em;
		text-indent     : -1em;
		list-style-type : none;
		&+p{
			text-indent : 0em;
		}
	}
}

.monster{

}




.frame{
	background-color    : white;
	border              : initial;
	border-style        : solid;
	border-image-outset : 25px 17px;
	border-image-repeat : round;
	border-image-slice  : 150 200 150 200;
	border-image-source : @frameBorder;
	border-image-width  : 47px;
	margin-top : 30px;
	margin-bottom : 37px;
	box-sizing: border-box;
}

.wide{
	column-span         : all;
	-webkit-column-span : all;
	-moz-column-span    : all;
}

.2column, .2col{

}