
.breakAvoid(){
	column-break-inside         : avoid;
	-webkit-column-break-inside : avoid;
}
.pseudoBorder(){
	position : relative;
	&:before{
		content      : '';
		position     : absolute;
		box-sizing   : border-box;
		width        : 100%;
		border-style : solid;
		z-index : -1;
	}
}


///////////////////

.spell{
	ul:first-of-type{
		margin-top      : -0.5em;
		margin-bottom   : 0.5em;
		padding-left    : 1em;
		text-indent     : -1em;
		list-style-type : none;
		&+p{
			text-indent : 0em;
		}
	}
}
.monster{
	-webkit-column-break-inside : avoid;
	column-break-inside         : avoid;
	&>.internal{
		//background-color : @monsterStatBackground;
		background-image : @monsterBG;
		border-style     : solid;
		border-width     : 10px;
		border-image     : @monsterBorder 10;
		table{
			color : @headerText;
		}
		ul:nth-of-type(1),ul:nth-of-type(2){
			background-color : red;
		}
	}
}
.note{
	.useSansSerif();
	.breakAvoid();
	.pseudoBorder();
	margin   : 9px 0px;
	padding  : 12px 0px;
	&:before{
		top                 : 9px;
		bottom              : 9px;
		left                : 0px;
		background-color    : @green;
		border-width        : 11px;
		border-image        : @noteBorder 11;
		border-image-outset : 9px 0px;
	}
	h2,h3,h4{
		.useSansSerif();
		color : black;
	}
	p, ul{
		font-size   : 0.352cm;
		line-height : 1.1em;
	}

	&.alt{
		&:before{
			border-style        : solid;
			border-width        : 7px;
			border-image        : @descriptiveBorder 12 round;
			border-image-outset : 4px;
		}
	}
}
.frame{
	margin-top    : 26px;
	margin-right  : 17px;
	margin-bottom : 37px;
	margin-left   : 17px;
	&>.internal{
		box-sizing          : border-box;
		background-color    : white;
		border              : initial;
		border-style        : solid;
		border-image-outset : 25px 17px;
		border-image-repeat : round;
		border-image-slice  : 150 200 150 200;
		border-image-source : @frameBorder;
		border-image-width  : 47px;
	}
}
.wide{
	column-span         : all;
	-webkit-column-span : all;
	-moz-column-span    : all;
}
.oneColumn{
	column-count : 1;
	column-gap   : 1cm;
}
.twoColumn{
	column-count : 2;
	column-gap   : 1cm;
}
.threeColumn{
	column-count : 3;
	column-gap   : 1cm;
}
.fourColumn{
	column-count : 4;
	column-gap   : 1cm;
}
.columnSplit{
	visibility                 : hidden;
	-webkit-column-break-after : always;
	break-after                : always;
	-moz-column-break-after    : always;
}
.brushed{
	border-image-outset             : 25px 17px;
	border-image-repeat             : round;
	border-image-slice              : 1250 1250 1250 1250;
	border-image-width              : 1250px;
	border-image-source : url('http : //i.imgur.com/nzPYZyD.png');
}
//basics
.left{
	text-align : left;
}
.right{
	text-align : right;
}
.center{
	text-align : center;
}
.bold{
	font-weight : 800;
}
.sansSerif{
	.useSansSerif();
}