@background            : #EEE5CE;
@noteGreen             : #e0e5c1;
@headerUnderline       : #c9ad6a;
@horizontalRule        : #9c2b1b;
@headerText            : #58180D;
@monsterStatBackground : #FDF1DC;