
.notificationAdd{
	input{
		height        : 33px;
		margin-bottom : 20px;
		padding       : 0px 10px;
		font-family   : monospace;
	}
	button{
		vertical-align : middle;
		height         : 37px;
	}
	.fieldLabel{
		display: inline-block;
		width: 10%;
	}
	.fieldInput{
		margin-bottom: 5px;
	}
}