.popups{
	position         : fixed;
	top              : @navbarHeight;
	right            : 15px;
	z-index          : 10001;
	width            : 450px;
}

.notificationPopup{
	position         : relative;
	width            : 100%;
	padding          : 15px;
	padding-bottom   : 10px;
	padding-left     : 25px;
	background-color : @blue;
	color            : white;
	border           : none;
	&[open]{
		// Do NOT set a display property on a dialog! Set it on dialog[open] instead
		display: inline-block;
	}
	a{
		color       : #e0e5c1;
		font-weight : 800;
	}
	i.info{
		position  : absolute;
		top       : 12px;
		left      : 12px;
		opacity   : 0.8;
		font-size : 2.5em;
	}
	button.dismiss{
		position : absolute;
		top      : 10px;
		right    : 10px;
		cursor   : pointer;
		background-color: transparent;
		&:hover{
			opacity : 1;
			background-color: #333;
		}
	}
	.header {
		padding-left : 50px;
	}
	small{
		opacity   : 0.7;
		font-size : 0.6em;
	}
	h3{
		font-size   : 1.1em;
		font-weight : 800;
	}
	ul{
		margin-top          : 15px;
		font-size           : 0.8em;
		list-style-position : outside;
		list-style-type     : disc;
		li{
			font-size   : 0.8em;
			line-height : 1.4em;
			margin-top  : 1.4em;
			em{
				font-weight : 800;
			}
		}
	}
}
