/* open-sans-latin-wght-normal */

@font-face {
	font-family   : 'Open Sans';
	font-style    : normal;
	font-weight   : normal;
	src           : url('open-sans-latin-400-normal.woff2') format('woff2');
	font-display  : swap;
	unicode-range : U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/*
* Nowhere is font-weight: 700 actually used with Open Sans, everything is set to 800.
* But, 800 *is* too bold.  And since we don't have an 800 font file, it's just using the 
* 700 font file and it looks fine.  Not sure it's worth changing everything to 700?
*/
@font-face {
	font-family   : 'Open Sans';
	font-style    : normal;
	font-weight   : bold;
	src           : url('open-sans-latin-700-normal.woff2') format('woff2');
	font-display  : swap;
	unicode-range : U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
	font-family  : 'CodeLight';
	font-style   : normal;
	src          : url('./CODE Light.otf') format('opentype');
	font-display : block;
}

@font-face {
	font-family  : 'CodeBold';
	font-style   : normal;
	src          : url('./CODE Bold.otf') format('opentype');
	font-display : block;
}