
.splitPane{
	position       : relative;
	display        : flex;
	height         : 100%;
	outline        : none;
	flex-direction : row;
	touch-action     : none;
	.pane{
		overflow-x : hidden;
		overflow-y : hidden;
		flex       : 1;
		height     : 100%;
	}
	.divider-container {
		width: 3px;
		height: 100%;
		position: relative;
		z-index: 100;
		svg#divider-bar {
			position : absolute;
			top : 0;
			left : 0;
			width : 40px;
			z-index: 1;
			pointer-events: none;
			path {
				pointer-events: all;
				fill : #bbb;
				stroke : #999;
				stroke-width: 2;

				cursor           : ew-resize;
				&:hover {
					fill : #999
				}
			}
		}
		div#divider-toolbar {
			touch-action     : none;
			display: flex;
			flex-direction: column;
			gap: 2px;
			position: relative;
			height: 50px;
			width: 20px;
			left: 3px;
			top: 3px;
			z-index: 5;
			.arrow {
				width: auto;
				aspect-ratio: 1 / 1;
				border: 1px solid #bbb;
				text-align: center;
				font-size: 0em;
				cursor: pointer;
				border: 1px solid #999;
				&.left{
					.tooltipLeft('Jump to location in Editor');
				}
				&.right{
					.tooltipRight('Jump to location in Preview');
				}
				&:hover{
					background-color: #666;
				}
			}
		}
		
	}
	
	
}
