.editor{
	position : fixed;
	height : 100%;
	.textIcons{
		display: inline-block;
		vertical-align: top;
		.icon{
			cursor: pointer;
			width : 30px;
			height : 30px;
			text-align: center;
			line-height: 30px;
			font-size: 1.5em;

			&:nth-child(8n + 1){ background-color: @blue; }
			&:nth-child(8n + 2){ background-color: @orange; }
			&:nth-child(8n + 3){ background-color: @teal; }
			&:nth-child(8n + 4){ background-color: @red; }
			&:nth-child(8n + 5){ background-color: @purple; }
			&:nth-child(8n + 6){ background-color: @silver; }
			&:nth-child(8n + 7){ background-color: @yellow; }
			&:nth-child(8n + 8){ background-color: @green; }

		}
	}
	textarea{
		display: inline-block;
		height : 100%;
		overflow-y: scroll;
		width : 300px;
	}
}