

.tabs {
	display        : flex;
	flex-direction : column;
	height         : 100%;
}




.ui-EditorText() {
	font-family    : 'Open Sans', sans-serif;
	font-size      : 0.7rem;
	font-weight    : 800;
	color          : black;
	text-transform : uppercase;
	letter-spacing : 0.05em;
}

.ui-EditorTrigger() {
	all           : unset;
	padding       : 3px 10px;
	background    : #DDDDDD;
	border-radius : 0 0 5px 5px;
	.ui-EditorText();
	.highlighted { background : #FFFFFF; }
}

[role='tabpanel'] { flex       : 1 1 auto; overflow-y : auto; }

[role='tablist'] {
	display     : flex;
	flex        : 0 0 25px;
	gap         : 2px;
	align-items : stretch;
	height      : 25px;
	border-top  : 1px solid lightgray;
}

[role='tablist'] button {
	.ui-EditorTrigger();
	display         : flex;
	flex            : 1;
	align-items     : center;
	justify-content : space-between;
	&[data-state='active'] {
		.ui-EditorTrigger.highlighted();
		position   : relative;
		top        : -1px;
		border-top : 1px solid white;
	}
}

