
.editor{
	position : relative;
	width    : 100%;

	.codeEditor{
		height        : 100%;
		counter-reset : page;
		.pageLine{
			background : linear-gradient(to bottom, white 80%, lightgray);
			&:after{
				content           : counter(page);
				counter-increment : page;
				float             : right;
				color             : gray;
			}
		}
		.columnSplit{
			font-style 			: italic;
			color 				: grey;
			background-color 	: fade(#299, 15%);
			border-bottom    	: #299 solid 1px;
		}
		.block{
			color 		: purple;
			font-weight : bold;
			//font-style: italic;
		}
		.inline-block{
			color 		: red;
			font-weight : bold;
			//font-style: italic;
		}
	}

	.brewJump{
		position			: absolute;
		background-color	: @teal;
		cursor				: pointer;
		width 				: 30px;
		height 				: 30px;
		display 			: flex;
		align-items 		: center;
		bottom 				: 20px;
		right 				: 20px;
		z-index				: 1000000;
		justify-content		: center;
		.tooltipLeft("Jump to brew page");
	}

}
