@import '@sharedStyles/core.less';

.navItem.error {
	position         : relative;
	background-color : @red;
}

.errorContainer {
	width              : 140px;
	padding            : 5px !important;
	font-size          : 10px;
	line-height: 1.5em;
	color              : white;
	text-transform     : uppercase;
	flex-direction: column;
	outline:1px solid red;
	border:1px solid red;
	border-width: 1px 3px;
	border-radius:5px;
	.lowercase { text-transform : none; }
	a { color : @teal; }
	.deny {
		display          : inline-block;
		width            : 48%;
		padding          : 5px;
		margin           : 1px;
		background:@orange;
		.animate(background-color);
		&:hover { background-color : red; }
	}
	.confirm {
		display          : inline-block;
		width            : 48%;
		padding          : 5px;
		margin           : 1px;
		color            : white;
		background:@orange;
		.animate(background-color);
		&:hover { background-color : teal; }
	}
}
