.homebrew nav{

	.homebrewLogo{
		.animate(color);
		font-family     : CodeBold;
		font-size: 12px;

		div{
			margin-top: 3px;
			margin-bottom: -3px;
		}

		color : white;
		&:hover{
			color : @blue;
		}
	}

}