/* Main Font, serif */
@font-face {
	font-family: Aniron;
	src: url('../../../fonts/ilaris/ttf/Aniron-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: CinzelMedium;
	src: url('../../../fonts/ilaris/ttf/Cinzel-Medium.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: CrimsonProBlack;
	src: url('../../../fonts/ilaris/ttf/CrimsonPro-Black.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: CrimsonProMedium;
	src: url('../../../fonts/ilaris/ttf/CrimsonPro-Medium.ttf');
	font-weight: normal;
	font-style: normal;
}


